:root {
  --fontFamily: 'IBM Plex Sans', sans-serif;
  --blackColor: #101828;
  --offBlackColor: #475467;
  --yellowColor: #F79009;
  --yellowColor2: #B54708;
  --orangeColor: #E06C41;
  --offWhite: #F2F4F7;
  --blueColor:#004CCC;
  --veryLightBlue: linear-gradient(135deg, rgba(0, 158, 225, 0.07) 0%, rgba(0, 158, 225, 0.11) 100%);
 
}
body{
  background: #fff;
}